       {{#each rows}}
       <li>
       <div class="text-muted">{{this.name}} ({{this.anno}})

       <span class="glyphicon glyphicon-arrow-right bt-cartoobj bt-cartoobj-zoomto text-muted" title="zoom to this"></span>
       <span class="glyphicon glyphicon-screenshot bt-cartoobj bt-cartoobj-episodes text-muted" title="pull a list of associated episodes"></span>
       </div>
       </li>
       {{/each}}
     