<div class="block"><h1>What's this, now?</h1>
It's a map of all of the locations on earth referenced in all <em><a href="http://www.earwolf.com/show/comedy-bang-bang/">Comedy Bang! Bang!</a></em> podcast episodes ever recorded. <em>Obviously</em>.</div>

<div class="block"><h1>Why?</h1>
<p>Because...i dunno, why are <em>you</em> here? That's why. Or maybe fuck you, and <em>that's</em> why. Could be!</p>
<p>Actually it's just cuz Comedy Bang! Bang! is the best thing ever recorded. Or maybe the best thing ever to even happen at all.<p>
<p>If you really are confused, read more about it in the <a href="#method">Full Story tab</a>.</p>
 </div>

 <div class="block"><h1>Is this official?</h1>
<p>It isn't.</p>
 </div>
