<h2>Huh?</h2>

<div class="block"><h4>What's this, now?</h4>
<p>It's a map of all of the locations on earth referenced in all <em><a href="http://www.earwolf.com/show/comedy-bang-bang/">Comedy Bang! Bang!</a></em> podcast episodes ever recorded. Duh.</p></div>

<div class="block"><h4>But...why?</h4>
<p>Because...i dunno, why are <em>you</em> here? That's why. Or wait -- fuck you. Maybe that's why.</p>
<p>Fine - it's actually because Comedy Bang! Bang! is the best thing ever recorded. Or maybe the best thing ever to even happen at all. And more specifically still, the universe of its characters -- when canon -- is so rich and sprawling that I wanted it all in one place, where I could wade into it from multiple angles, aspects, and facets. e.g. I wanted be able to visualize... 
</p><ul>
<li>the probable location of the Nordstrom that sold Danny Mahoney his suicide coat</li>
<li>how far away the Pasadena Fairytale Theatre is from the Home Depot where Bill Cosby bought sand and met Scott on the sidewalk</li>
<li>the Kentucky site of Chupacabra and Cake Boss' joint vacation</li>
<li>basically anything related to Huell Howser</li>
</ul><p></p>
 </div>

<div class="block"><h4>Ok, but...</h4>
<p><img class="featurette-image img-responsive pull-right" alt="bittracker peek" src="images/btracker_preview.png" style="margin:11px;" height="200" width="500">
Well, get this. This is actually the pilot application of a much larger project. Not only am I geocoding named locations<sup>*</sup>, my longer-term project is to create a bittracker. Yeah, a <em>BitTracker</em>. A tracker of bits. How many times (and when!) <em>My wife!</em> How many times (and when!) <em>Hee-hee. Shamone. Where's Lisa Marie? Dah! Where 'dem elephant bones? Where's Macaulay? Dah! Shamone. Hoo. Where my glove? Hoo.</em>. How many times (and when!) has a defenestration occurred or been referenced? Much of these data exist already but the whole web app has to be forthcoming.</p></div>

<div class="block"><h4>* A Note About Scope</h4>
<p>Included here are all (?) locations that were "generated" during the show. Meaning I only wanted locations that were somehow parts of a bit or part of something intentionally funny <em>and</em> part of a contribution to the show. Meaning that if Toddy Barry plugs his gig at the Chuckle Hut or Kyle Kinane mentions that he lives in Los Feliz I'm not gonna bother. But I <em>do</em> wanna know where that coffee place was where Mantzoukas witnessed a homeless person guzzle a discard, yes. And I would like to know where Tig ran into Taylor Dayne. And I did bother to scrub episode 39 for all the places Huell Howser has homes. And I did bother to map as many of Shooter's L.A. references as I could. And The Grove and the Pantages and Marina Del Rey and Six Flags Magic Mountain (site of at least one Womptacular and the benefactor of a commercial spot by Sloppy Timmy Slotzman) are all here, of course.</p></div>