<h2>Huh?</h2>

<h4>What's the meaning of this?</h4>
<p>It's a map of all of the locations on earth referenced in all Comedy Bang! Bang! podcast episodes as recorded and geocoded by me, Chris. Duh.</p>
<h4>But...why?</h4>
<p>Because </p>