<div class="block"><h4>What's Really Going On?</h4>

<div class="pull-right">
      <a href="images/btracker_preview.png"><img class="featurette-image img-responsive pull-right" alt="bittracker peek" src="images/btracker_preview.png" style="margin:11px;" height="200" width="500"></a>
      <div class="caption">
        <p>Screencap of a text export of some sample BitTracker records.</p>
      </div>
  </div>


    <p>This is a map of every spatial reference from every <em>Comedy Bang! Bang!</em> episode ever recorded. It's actually part of a much larger project in which every individual trope and recurring bit ("Please call me Garry," "My Wife!" "Titular," etc. - see BitTracker, below) will be searchable and supercuttable but that's taking longer and will require a much different web app to deliver. This thing is limited to only those references that were (somewhat) mappable. e.g...</p><p>
    <!-- And for real the reason to do it is that the universe of CBB's characters - when canon - is so rich and sprawling that I wanted it all in one place, where I could wade into it from multiple angles, aspects, and facets. e.g. I wanted be able to visualize... 
    So for now it's just a map of places that comprise the world of the CBB canon (and perhaps its diaspora). -->
    </p><ul>
        <li>the probable location of the <span class="loc-trigger" data-string="cartodb_id:17"><span class="loc-string">Nordstrom that sold Danny Mahoney his heavy suicide coat</span><i class="glyphicon glyphicon-map-marker cbb-marker-inline"></i></span></li>
        
        <li>the very-difficult-to-actually-map location of <span class="loc-trigger" data-string="cartodb_id:410"><span class="loc-string">The Calvins Bee Honey Horse Fight Fields</span><i class="glyphicon glyphicon-map-marker cbb-marker-inline"></i></span></li>

        <li>JW Stillwater's route <span class="loc-trigger" data-string="cartodb_id:52947"><span class="loc-string">from Cumberbatch County to L.A. via the Panama Canal</span><i class="glyphicon glyphicon-map-marker cbb-marker-inline"></i></span></li>
        
        <li>basically <span class="loc-trigger" data-string="huell"><span class="loc-string">anything Huell Howser has ever said</span><i class="glyphicon glyphicon-map-marker cbb-marker-inline"></i></span></li>
    </ul>
    <!-- <p><sup>*</sup> – Meaning that if Don DiMello shows up on <em><a href="http://www.earwolf.com/show/spontaneanation-with-paul-f-tompkins/">Spontaneation</a></em> or <em><a href="http://www.gosuperego.com">Superego</a></em> and says something mappable, it can show up here. I haven't been through any of those combing for locations yet, however.</p> -->
</div>
<div class="block"><h4>BitTracker?!</h4>

  
    <p>
Yeah, get this: this map app is actually the pilot application of a much larger project -- a bittracker. <strong>Yeah, a <em>BitTracker</em></strong>. A tracker of bits. How many times (and when) <em>My wife!</em>; how many times (and when) <em>Hee-hee. Shamone. Where's Lisa Marie? Dah! Where 'dem elephant bones? Where's Macaulay? Dah! Shamone. Hoo. Where my glove? Hoo.</em>; how many times (and when) a classic <em>Would You Rather</em> blunder? That sort of thing. But it's taking a while.</p></div>
<div class="block"><h4>A Note on Scope</h4>
<p>Included here are ~all locations that were <em>generated</em> during the show. Meaning only locations that were somehow parts of a bit or part of something intentionally funny <em>and</em> part of a contribution to the show are included. Meaning that if Todd Barry plugs his gig at the Chuckle Hut or Jimmy Pardo ran into Nick Kroll at a grilled cheese sandwich place irl, it doesn't need to be here. But all the places <span class="loc-trigger" data-string="anno%3Ahuell+%2Banno%3Ahomes"><span class="loc-string">Huell Howser has homes</span><i class="glyphicon glyphicon-map-marker cbb-marker-inline"></i></span>? Yes. And <span class="loc-trigger" data-string="cartodb_id:404"><span class="loc-string">that place that almost housed a Victor Diamond show</span><i class="glyphicon glyphicon-map-marker"></i></span>? Yes. And <span class="loc-trigger" data-string="cartodb_id:13"><span class="loc-string">The Grove</span><i class="glyphicon glyphicon-map-marker cbb-marker-inline"></i></span> and <span class="loc-trigger" data-string="cartodb_id:1329867"><span class="loc-string">the ArcLight</span><i class="glyphicon glyphicon-map-marker"></i></span> (including <span class="loc-trigger" data-string="cartodb_id:31968"><span class="loc-string">Cactus Tony's bus route <em>to</em> it</span><i class="glyphicon glyphicon-map-marker"></i></span>) and <span class="loc-trigger" data-string="cartodb_id:96"><span class="loc-string">the Pantages</span><i class="glyphicon glyphicon-map-marker cbb-marker-inline"></i></span> and <span class="loc-trigger" data-string="cartodb_id:100"><span class="loc-string">Bob Ducca's beloved Castaic</span><i class="glyphicon glyphicon-map-marker cbb-marker-inline"></i></span> and <span class="loc-trigger" data-string="cartodb_id:7"><span class="loc-string">Six Flags Magic Mountain</span><i class="glyphicon glyphicon-map-marker cbb-marker-inline"></i></span> are all here.</p></div>
<!-- <div class="block"><h4>Is <em>Everything</em> Geocoded?</h4>
<p>But no, not everything is in here. Yet. Once I realized I wanted to do this, I started re-listening from episode 1, logging locations instead of bits (which I'll pick back up later). I'm only through #143, so there will be plenty more added here in due time. I <em>may</em> add the ability for users to submit/edit locations, but that requires the addition of a whole other layer of app logic. The crowd-sourcing model will better suit the BitTracker anyway.</p></div> -->


<div class="block"><h4>What's Next?</h4>
    <p>
        <ul>
            <li>As episodes are released, locations will be added.</li>
            <li>As old episodes are revisited, missed locations will be added.</li>
            <li>The web app might get an inline audio player.</li>
            <li>Somebody needs to build the full BitTracker still (and integrate it with this).</li>
            <li>A crowd-sourcer component could be very helpful. i.e. move the backend to a wiki platform and harvest from there. The very useful <a href="http://comedybangbang.wikia.com">CBB wikia instance</a> could become a mutual asset, for instance.</li>
        </ul>
    </p>