 <div class="querysubnavh col-sm-12 pull-left">
	<span data-id="bits" class="query-subnav-btn col-sm-2 pull-left"><span class="col-sm-8">Bits: </span><span class="col-sm-offset-1 col-sm-3 query-subnav-count query-subnav-count-bits"></span>
<span class="query-subnav-arro col-sm-4 pull-right" style="left:8px;"><i class="glyphicon glyphicon-chevron-right"></i></span>
	</span>
	<span data-id="locations" class="query-subnav-btn col-sm-4 pull-left active"><span class="col-sm-8">Locations: </span><span class="col-sm-offset-1 col-sm-3 query-subnav-count query-subnav-count-locations"></span>
<span style="right:30px;" class="query-subnav-arro col-sm-1 pull-right active"><i class="glyphicon glyphicon-chevron-right"></i></span>
	</span>

		<span data-id="facets" class="query-subnav-btn col-sm-4 pull-left active"><span class="col-sm-8">Facets: </span>
<span style="right:30px;" class="query-subnav-arro col-sm-1 pull-right active"><i class="glyphicon glyphicon-chevron-right"></i></span>
	</span>
	</div>