<div class="input-group">
      <input type="text" class="form-control" id="query-form-input" value="{{rawstring}}">
      <span class="input-group-btn">
        <button id="query-form-bt" class="btn btn-default" type="button" placeholder="search the source for new results">Search</button>
      </span>
    </div><!-- /input-group -->

