 <div class="querysubnavh">
<!--for Query:</span> {{displaystring}}

<span class="query-console-arrow" style="font-size:.8em;margin-left:30px;margin-right:30px;">\-\-\-\-\-\-\-\-></span> -->
	<span class="query-subnav-btn">Bits</span>
	<span class="query-subnav-btn active">Locations</span>
	</div>