 <div class="querysubnavh">
<!--for Query:</span> {{displaystring}}

<span class="query-console-arrow" style="font-size:.8em;margin-left:30px;margin-right:30px;">\-\-\-\-\-\-\-\-></span> -->
	<span data-id="bits" class="query-subnav-btn">Bits <span class="query-subnav-count query-subnav-count-bits"></span></span>
	<span data-id="locations" class="query-subnav-btn active">Locations <span class="query-subnav-count query-subnav-count-locations"></span></span>
	</div>