{{#each recents}}
<li data-id="{{this._id}}" class="col-sm-2">

<div class="">
{{#if this.name}}
{{this.name}}
{{/if}}
{{#if this.desc}}
({{this.desc}})
{{else}}
(no description provided)
{{/if}}

</div>
</li>
{{/each}}