<!-- UPDATE! -->
        <div class="pull-left col-sm-12"><h3>2016.Jan.10</h3>
        <p style="padding-bottom:40px;">
        <a href="#query/created_at:[2016-01-05T10:51:29Z TO 2016-01-09T10:51:29Z]">110 new bits</a> across these six <a href="http://howl.fm">Howl</a> premium episodes:
<ul><li><a href="http://howl.fm/audio/34629/live-from-philadelphia-2012">Live from Philadelphia 2012</a></li>
<li><a href="http://howl.fm/audio/34631/live-from-portland-2012">Live from Portland 2012</a></li>
<li><a href="http://howl.fm/audio/34632/live-from-san-diego-2012">Live from San Diego 2012</a></li>
<li><a href="http://howl.fm/audio/34633/live-from-san-francisco-2012">Live from San Francisco 2012</a></li>
<li><a href="http://howl.fm/audio/34634/live-from-seattle-2012">Live from Seattle 2012</a></li>
<li><a href="http://howl.fm/audio/34635/live-from-vancouver-2012">Live from Vancouver 2012</a></li></ul>
        </p>
        <p>Also, just fyi for you web nerds, the episode facet panel now uses episode numbers/IDs rather than their url slugs: Howl adds a serialized integer to the url structure, making them unecessarily ugly and slightly difficult - best to just punt and use episode #s and full Howl urls.</p>
        </div> <!-- /update -->

<!-- UPDATE! -->
        <div class="pull-left col-sm-12"><h3>2015.Dec.30</h3>
        <p style="padding-bottom:40px;">Today I'm pushing up 100 bits from 5 of the many, <a href="http://howl.fm/audio/playlists/4195/comedy-bang-bang-special-edition">many CBB Special Edition episodes available to Howl subscribers</a>. Which of course are recommended, if not mandatory. Already there are stretches of the <a href="#query/%22cake boss%22">Cake Boss</a>, <a href="#query/%22hot dog%22">Hot Dog</a>, and <a href="#query/%22andrew lloyd webber%22">DSALW</a> canon.</p>
        </div> <!-- /update -->


<!-- UPDATE! -->
        <div class="pull-left col-sm-12"><h3>2015.Dec.23</h3>
        <p style="padding-bottom:40px;">Like the gift that was baby Jesus, I've added a randomizer button to the search box. Press it for any one of the 1000+ locations we have as of this writing.</p>
        </div> <!-- /update -->

<!-- UPDATE! -->
                <div class="pull-left col-sm-12"><h3>2015.Dec.09</h3>
        <p style="padding-bottom:40px;">Some geniuses I know have advised me to make it more obvious that there's a very good way to reveal the map that underlies all the blue and yellow stuff. Or rather <em>toggle</em> it. The best way to do this is actually to toggle the Control (CTRL) key. Press it once to collapse all the text stuff, press it again to reveal again. But there's also a big button for this and as of today it's EVEN BIGGER, YO!</p>
        </div> <!-- /update -->


<!-- UPDATE! -->
        <div class="pull-left col-sm-12"><h3>2015.Nov.21</h3>
        <p style="padding-bottom:40px;">Yeah, somebody <em>updates</em> this thing. Despite the font of useful shit over at the <a href="http://comedybangbang.wikia.com">ComedyBangBang Wikia instance</a>, I'm finding that they lag a little too far behind the episodes and I can't reliably assume I can pull episode titles from there for display here. Same thing for the future plan to integrate their guest data (so we can search for "Andy Daly" or "Joe Wengert" or whatever). So starting on 2015-11-21, I've decided to hard-code episode titles and guest/actor arrays into our own data store so we don't have to wait for the Wikia to update.*</p>
          <p>*I know, I know - why don't <em>I</em> handle the Wikia stuff? Cuz I have <em>tons</em> of shit to do already. You would laugh (at me) if you knew how many man-hours went into this dumb thing.</p>
          <p><img style="border:1px solid white; margin:15px;" class="pull-right" src="https://s3.amazonaws.com/f.cl.ly/items/2m0H3O3p1I040Z3l1827/BitMap__CBB.png" alt="" width="400px" height="215px" border="2" />Anyway, starting on 2015-11-22 your query terms are also being thrown against episode titles and actor names. If you are advanced you can query against those fields specifically with, say, <code><a href="#query/episode_title:procreation">episode_title:procreation</a></code> or <code><a href='#query/guests:"Andy Daly" AND guests:"Paul F. Tompkins"'>guests:"Andy Daly" AND guests:"Paul F. Tompkins"</a></code>. But there's nerdy nuance in there you probably don't wanna fuxk with, so just know that you can also just search for "tompkins" and be reasonably sure you're getting PFT's episodes (unless Huell F. Tompkins is referenced in a non-PFT episode, I guess).</p>
          <p>The bigger implication, maybe, is that there shouldn't be any missing titles from recent episodes, รก la when poking around <a href="http://goo.gl/34dn05">Big Sue's Carpet Village</a>.</p>
        </div> <!-- /update -->