@primarycolor: rgba(18, 136, 185, 1.0000);
@menutext: @primarycolor;
@primarycolor-trans: rgba(18, 136, 185, .4000);

@secondarycolor: rgba(254, 205, 11, 1.0000);
@secondarycolor-trans: rgba(254, 205, 11, .4000);

@tertiarycolor: rgba(250, 250, 250, 1.0000);
@tertiarycolor-trans: rgba(250, 250, 250, .4000);

@quaternarycolor: #2CAFF5;

.stroke {text-shadow:
    -1px -1px 0 @secondarycolor,
    1px -1px 0 @secondarycolor,
    -1px 1px 0 @secondarycolor,
    1px 1px 0 @secondarycolor; }


.stroke-h{
  font-weight:800;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
  }

.stroke-active {
color:@secondarycolor;
  text-shadow:
    -1px -1px 0 @primarycolor-trans,
    1px -1px 0 @primarycolor-trans,
    -1px 1px 0 @primarycolor-trans,
    1px 1px 0 @primarycolor-trans,
    -10px -10px 0px @secondarycolor-trans,
    10px -10px 0px @secondarycolor-trans,
    -10px 10px 0px @secondarycolor-trans,
    10px 10px 0px @secondarycolor-trans,
    -12px -12px 0px @primarycolor-trans,
12px -12px 0px @quaternarycolor,
-12px 12px 0px @quaternarycolor,
12px 12px 0px @quaternarycolor;
  }
  .stroke-active-mock {
color:@secondarycolor;
  text-shadow:
    -1px -1px 0 @primarycolor-trans,
    1px -1px 0 @primarycolor-trans,
    -1px 1px 0 @primarycolor-trans,
    1px 1px 0 @primarycolor-trans,
    -5px -5px 0px @secondarycolor-trans,
    5px -5px 0px @secondarycolor-trans,
    -5px 5px 0px @secondarycolor-trans,
    5px 5px 0px @secondarycolor-trans,
    -7px -7px 0px @primarycolor-trans,
7px -7px 0px @primarycolor-trans,
-7px 7px 0px @primarycolor-trans,
7px 7px 0px @primarycolor-trans;
  }

  .badge-homemade {
  background-color: white;
  border-radius: 8px;
  color: black;
  display: inline-block;
  // font-size: 12px;
  // font-weight: 700;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: baseline;
  /*white-space: nowrap;*/
}

/* --------------------------------------- NPROGRESS OVERRIDES -------------- */

#nprogress .spinner{
  top:50%;
  right:50%;
  display:none;
}
#nprogress .spinner-icon {
    height:20px;
    width:20px;
    border-width:1px;
    border-color: @secondarycolor transparent transparent @secondarycolor-trans;
}

#nprogress {
  .bar {
  background: @primarycolor;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}}

/* --------------------------------------- GENERAL -------------- */
body{
  overflow:hidden;
  // color:@secondarycolor;
  color:@tertiarycolor;
  font-family: 'Roboto', sans-serif;
  // font-family: 'Mandali', sans-serif;
  // font-family: 'Open Sans', sans-serif;
  font-weight:400;
  // font-size:1.5em;
  small{
    color:inherit;
  }
}

.gnpanel-l{
  padding: 10px 20px;
  border-left:10px solid @secondarycolor;
}
.gnpanel-0{
  padding: 10px 20px;
  border:none;
}
.gnpanel-r{
  padding: 10px 20px;
  border-right:10px solid @secondarycolor;
}

.cbbanno{
  text-decoration:none;
  font-weight:100;
    text-shadow: none;
    color:@secondarycolor;
    font-size:.8em;
    margin-left:30px;
}
.bitsanno{
  text-decoration:none;
  font-weight:100;
    text-shadow: none;
    color:@tertiarycolor-trans;
    font-size:.8em;
}

h1{
  // .stroke-h;
  //
  // font-family: League-Gothic, Courier;
font-weight: bold;
color:white;
@media(min-width:993px){
  font-size: 1.6em;
  text-shadow: 2px 2px 0 @secondarycolor, 5px 5px 0 @quaternarycolor, 7px 7px 0 @quaternarycolor, 9px 9px 0 @quaternarycolor, 11px 11px 0 @quaternarycolor, 13px 13px 0 @secondarycolor-trans;}
  @media(max-width:992px){
    font-size: 1.3em;
  text-shadow: 1px 1px 0 @secondarycolor, 2px 2px 0 @quaternarycolor, 3px 3px 0 @quaternarycolor, 4px 4px 0 @quaternarycolor, 5px 5px 0 @quaternarycolor, 6px 6px 0 @secondarycolor-trans;}
text-transform: uppercase;
}
h2{
  .stroke-h;
  color:@secondarycolor;
}
h3{
  .stroke-h;
  color:@secondarycolor;
}
h4{
  .stroke-h;
  color:@secondarycolor;
  letter-spacing: 0.12em;
}
h5{
  font-weight:400;
  text-shadow:
    0px 0px 1px white,
}
.copy-trigger{
  font-weight: 400;
  cursor:pointer;
  color: @secondarycolor;
  &:hover{
    color:#d4d4d4;
  }
}

.text-shadow-general {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
}
a {
    text-decoration: none;
    // color: @primarycolor;
    // color: @tertiarycolor;
    color: @secondarycolor;
    font-weight:400;
    &:hover{
      text-decoration: none;
    }
}
.anno{
  font-style: italic;
  // color:gray;
  font-size: .9em;
}
/* --------------------------------------- BOOTSTRAP OVERRIDES -------------- */

.caption{
color:@quaternarycolor;
text-align:right;
font-style: italic;
font-size: .8em;
}

#fullstory{
  padding:0px;
  li{
    // margin-bottom:25px;
    .anno{
      margin-left:22px;
    }
  }
}
.featurette-image{
  box-shadow: 6px 6px 6px rgba(0,0,0,.4);
}

/* --------------------------------------- MAP -------------- */

#map {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

/* --------------------------------------- HIT MARKER -------------- */

.leaflet-popup-content-wrapper{

.leaflet-popup-content{
  h5{
    color:@primarycolor;
  }
  .pu-copy{
    padding-bottom: 20px;
    .label{

    }
    input{
      margin-bottom:8px;
    }
    textarea{
      margin-bottom:8px;
    }
  }
}

div.leaflet-popup-content .marker.bt{
  color:@secondarycolor;
  cursor:pointer;
}}

.leaflet-popup-content-wrapper{
  // height:200px;
  // width:420px;
  overflow: hidden;
  .leaflet-popup-content{

    position: relative;
    .leafraud-popup-og{
    position: relative;
        height:100%;
      }
      .leafraud-popup-og.replaced{
        left: 95%;
      }

.leafraud-popup-replacer{
  width:0px;
  overflow: hidden;
}
.leafraud-popup-replacer.replaced{
      background-color:black;
      height:100%;
    width:85%;
  }

  }
}

/* --------------------------------------- HIT BUTTONS -------------- */

.bt-cartoobj{
  cursor: pointer;
  margin-left: 5px;
  &:hover{
  color:@quaternarycolor;
  }
}

.bt-cartoobj-episodes{
  cursor: pointer;
  margin-left: 5px;
  color:@secondarycolor;
  &:hover{
  color:@quaternarycolor;
  }
}

/* --------------------------------------- CONSOLE -------------- */

#consoleContainer {
    bottom: 0px;
    padding:5px 10px;
    background-color:@secondarycolor;
    opacity: .9;
    margin-left: 0px;
    font-family: 'Courier';
    font-size: .8em;
    right: 0;
    position: fixed;
    text-align: left;
    border-radius:3px;

          border-bottom-width: 0;
    border-left-width: 0;
    margin-bottom: 0;

    @media(max-width:992px){
      padding:0 0;
      font-size:.5em;
    }

}

/* --------------------------------------- ACTIVITY -------------- */

.activity-cancel{
  cursor:pointer;
}

#activity-default{
  padding-left:20px;
}

#activityContainer.idle {
    z-index:0;
    display:none;
}

#activityContainer {

  #activity-spin{margin-right:6px;}
  #activity-spin.true{
content: "88888";
color:"#b4a5b1";
  }
  #activity-spin.false{
    display:none;
content: "000";
color:"#a9d9d1";
  }

left:15px;
        background-color: white;
    border-bottom-width: 0;
    border-left-width: 0;
    border-radius: 3px;
  color:@primarycolor;
    height: 30px;
    margin-bottom: 0;
    // margin-right: 15px;
    font-weight: 800;
    opacity: 0.9;
    padding: 5px 10px;
    // position: absolute;
    // right: 90px;
    // right: 99px;
    // text-align: right;
    top: 17px;
    z-index: 8;

    // span{
      // padding:7px;
    // }
}


/* --------------------------------------- NAV & STRUCTURE -------------- */

#livefooter{
  position:absolute;
  bottom:0px;
}

.block{
  padding:5px 15px;
  margin-top:33px;
  margin-bottom:33px;
}
#main{
  #huh{
    font-size:1.1em;
    h1{font-weight:800;}
  }
  background-color: @primarycolor;
  border-top:solid 50px @secondarycolor;
  /*border-top:solid 2px @secondarycolor;*/
  // border-top:none;
  border-bottom:solid 50px @secondarycolor;
  border-right:solid 25px @secondarycolor;
  /*width:100%;*/
  height:70%;
  // top:121px;
  top:142px;
  /*position:fixed;*/
    // background-color:white;
    opacity:.9;
  overflow:auto;
// position:absolute;
  .mainpanel{
    .block{
      h1{margin-bottom:30px;
        margin-left: -20px;
       }
       } //block
  /*padding:0px 100px;*/
  padding:0px 0px;
position: relative;
width:100%;

@media(max-width:992px){
.block{
      h1{margin-bottom:5px;
        margin-left: 0px;
       }
       } //block
  padding:5px 10px;
}

  } //mainpanel

@media(max-width:992px){
   border-top:solid 2px @secondarycolor;
  border-bottom:solid 2px @secondarycolor;
  height:70%;
  top:65px;
  font-size:.8em;
}
} //main

#episodes{
  h3{
    color:white;
    .stroke-active;
    right:5%;
    position:relative;
  }
  background-color: @primarycolor;
  border-top:solid 50px @secondarycolor;
  /*border-top:solid 2px @secondarycolor;*/
  // border-top:none;
  border-bottom:solid 50px @secondarycolor;
  /*width:100%;*/
  height:70%;
  top:191px;
  /*position:fixed;*/
    // background-color:white;
    opacity:.9;
  overflow:auto;
// position:absolute;
  .mainpanel{
    .block{
      h1{margin-bottom:30px;
        margin-left: -20px;
       }
       } //block
  padding:0px 100px;
position: relative;
width:100%;

@media(max-width:992px){
.block{
      h1{margin-bottom:5px;
        margin-left: 0px;
       }
       } //block
  padding:5px 10px;
}

  } //episodespanel

@media(max-width:992px){
   border-top:solid 2px @secondarycolor;
  border-bottom:solid 2px @secondarycolor;
  height:70%;
  top:65px;
  font-size:.8em;
}
} //main

#btn-statie{
  z-index: 88;
  &:hover{
    color:white;
  }
  padding:0;
  cursor:pointer;
  top:208px;
  position:fixed;
  height:50px;
  /*font-size:3em;*/



  .triangle-trigger-false {
  width: 0;
  height: 0;
  border-bottom: 50px solid #FF8000;
  border-right: 50px solid transparent;
  .hider-copy{padding-top:25px;padding-left:5px;}
}
.triangle-trigger-true {
  width: 0;
  height: 0;
  border-bottom: 50px solid #FF8000;
  border-right: 50px solid transparent;
  transform: rotate(-135deg);
  position:relative;
  left:-25px;
  .hider-copy{    padding-left: 65px;
    padding-top: 8px;
    transform: rotate(135deg);}
}

} //btn-statie


#main.statie-full{
width:100%;
border-right:none;
  }

  #main.statie-collapsed{
    /*right:99.5%;*/
    border-right:solid 5px @secondarycolor;
    right:74%;
    /*top:95%;*/
  }

#episodes.statie-collapsed{
    left:22%;

  }

#episodes.statie-momap{
  /*placeholder! the episodes pane should still show under momap state */
}
#main.statie-momap{
    border-right:solid 5px @secondarycolor;
  right:74%;
}

.site-header {

/*background: @secondarycolor repeat scroll 0 0 solid;*/
    /*padding-left:25px;*/
    .off-canvas-contents {
        // this is the wrapper for the menu links, so we nudge it over next to the leaf control
        padding-left: 0px;
        // left: -160px;
   }
}

.site-nav {
// border-radius:3px;


    padding-top: 12px;
    padding-bottom: 0px;
    // margin-left:-100px;
    margin-left:-50px;
    @media(max-width:992px){
      margin-left:0px;
      padding-top:0px;
      font-size:.8em;
      width:100px;
      .link{
        padding:0 0;
      }
    }
    ul
    {
      text-align:left;

      li {
            // background-color: rgba(0, 0, 0, 0.2);
            // border-radius: 2px;

    font-weight:800;
            font-size:2em;
            display: inline-block;
            padding: 0 0.4em;
            /*margin-right:10px;
            margin-left:60px;*/
            text-align: center;

    @media(max-width:992px){
            // font-size:1.5em;
            display: table-row;
            font-size:.8em;
            padding: 0 0em;
            margin-right:0px;
    height:10px;
      text-shadow:
        1px 1px 0 black;
    }


            a.link {
              color:@primarycolor;

       @media(min-width:992px){
         .stroke;
       } //media

                &:hover {
                    text-decoration: none;
                    .text-shadow-general
               }
               // padding squeezes it down to the same level as the rotated leaflet control
               @media(min-width:1200px){
                          padding-top: 8px;
                          padding-bottom: 8px;}

          }
          a.active {
              color: @primarycolor;
    @media(max-width:992px){
      color:white;
    }
    @media(min-width:992px){
              .stroke-active;
              &:hover {
                .stroke-active;
               } //hover
    } //media

         } //./active
    } //li
    } //ul
}

#banner-bang{
      color: @secondarycolor;
    font-size: 31em;
    left: -150px;
    position: absolute;
    top: -220px;
}
#banner-bang.statie-collapsed{
    /*left:-380px;*/
       font-size: 7em;
    left: -20px;
    position: absolute;
    top: -20px;
    #banner-copy {
    color: white;
    font-family: "KiloGram";
    font-size: 10px;
    left: 40px;
    letter-spacing: -1px;
    line-height: 10px;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 0 @secondarycolor, 2px 2px 0 @quaternarycolor, 3px 3px 0 @quaternarycolor, 4px 4px 0 @quaternarycolor, 5px 5px 0 @quaternarycolor, 6px 6px 0 @secondarycolor-trans;
    top: 38px;
    transform: rotate(-40deg);
}
  }

#banner-copy {
    color: white;
    font-family: "KiloGram";
    font-size: 40px;
    left: 119px;
    letter-spacing: -1px;
    line-height: 32px;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 0 @secondarycolor, 5px 5px 0 @quaternarycolor, 7px 7px 0 @quaternarycolor, 9px 9px 0 @quaternarycolor, 11px 11px 0 @quaternarycolor, 13px 13px 0 @secondarycolor-trans;
    top: 230px;
    transform: rotate(-40deg);
}

/*#banner-copy {
    color: @primarycolor;
    font-family: "KiloGram";
    font-size: 45px;
    left: 100px;
    line-height: 32px;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 8px white;
    top: 230px;
    transform: rotate(-34deg);
}*/

/*#banner-copy {
    color: @primarycolor;
    font-family: "Mari";
    font-size: 35px;
    left: 90px;
    line-height: 32px;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 8px white;
    text-transform: lowercase;
    top: 250px;
    transform: rotate(-34deg);
}*/

/*#banner-copy {
    color: @primarycolor;
    font-family: "Sabo";
    font-size: 35px;
    left: 90px;
    line-height: 32px;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 8px white;
    text-transform: lowercase;
    top: 250px;
    transform: rotate(-34deg);
}
*/
/*#banner-copy {
  color: @primarycolor;
    font-family: "KiloGram";
    font-size: 35px;
    left: 110px;
    line-height: 32px;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 8px white;
    top: 240px;
    transform: rotate(-34deg);
}
*/

/*#banner-copy {
    color: @primarycolor;
    text-shadow: 0 0 8px white;
    font-family: "KiloGram";
    font-size: 73px;
    left: 120px;
    letter-spacing: -5px;
    line-height: 32px;
    position: absolute;
    text-align: center;
    top: 230px;
    transform: rotate(-32deg);
}*/

.js-non-menu-container {
    opacity: .8;
}
#wrapper {
    // display:none;
    opacity: .7;
}
//
// ------------------------------------- FACETS
//

ul.facets{
  list-style: none;
  font-size: .8em;
  color: @tertiarycolor;
  li{
    margin-right:9px;
  }
}
.bt-facet{
  &:hover{
    color:black;
text-shadow: 0px 0px 1px black;
  }
  cursor:pointer;
  // text-decoration:underline;
}
.bt-facet.true{
    .badge-homemade;
  }
//
// ------------------------------------- QUERY
//
#solrfields{
  clear:left;
  // font-size:.8em;
  cursor:pointer;
  color:@secondarycolor;

#bt-solrfields{
  &:hover{
    color:@tertiarycolor-trans;
  }
      // left: -10px;
    position: relative;
    // top: -10px;
  }

  // background-color:black;
  #solrfields-list{

    font-family: 'Mandali', sans-serif;
  margin-bottom: 0;
  dt{
    font-weight:800;
    font-size:1.2em;
    // color:@tertiarycolor;
  }
  dd{
    font-style: italic;
    margin-left:22px;
  }
}
    }

#query-form{
padding-top:15px;
// margin-bottom:33px;
#query-form-input{
  border:solid 1px @secondarycolor;
}
#query-form-bt{
  background-color:@secondarycolor;
}
}
#query-livefilter{
  position:relative;
  margin-left:44px;
  margin-bottom:33px;
}
// #query-console{
//   text-align: left;
//   font-size: 2em;
// }
.stats{

  // font-size:.8em;
    margin-bottom:20px;
    margin-left:12px;
    color:gray;
#stats-hits{
}
  }
.episodes-arrow{
  .stroke-active-mock;
  position:relative;
  color: @tertiarycolor;
  font-size:2em;
}
#querylist-carto{
  font-size:.9.5em;
  // border-right:1px solid white;
  padding-top:40px;
  h1{
    // color:@tertiarycolor-trans;
    font-size:2em;
    color:@tertiarycolor;
  }
  // position:fixed;
  /*font-size: .8em;*/
  /*font-weight:800;*/
  list-style:none;
  overflow:hidden;
  // overflow:hidden;
  li{
    .bt-cartoobj{
  /*color:white;*/
  &:hover{
    color:@quaternarycolor;
  }
}
    .carto-plain-title{
      /*text-decoration: underline;*/
      /*cursor:pointer;*/
    }
    margin-bottom:8px;
    // text-shadow: 2px 0px black;
  }
  .carto-plain-title.true{
    // background-color: @quaternarycolor;
    .stroke-active-mock;
    color: @tertiarycolor;

    text-decoration: none;
  }
}

#querylist-facets {
  background-color: rgba(255, 255, 255, 0.25);
  /*border-left: 2px solid white;*/
  height: 100%;
  padding: 20px 0;
  border-left:1px solid white;
}

#querylist-bits{
  font-size:.9.5em;
  padding-top:40px;
  border-right:1px solid white;
  h1{
    // color:@tertiarycolor-trans;
    color:@tertiarycolor;
    font-size:2em;
  }
  /*position:fixed;*/
  /*font-size: .8em;*/
  /*font-weight:800;*/
  list-style:none;
  overflow:hidden;
  /*overflow:hidden;*/
  li{
    margin-bottom:8px;
    cursor:pointer;
    // text-shadow: 2px 0px black;
  }
  li.true{
    // background-color: @quaternarycolor;
    .stroke-active-mock;
    color: @tertiarycolor;
  }
}
#episodes-list{
  font-size: 0.9em;
  h3{
    .stroke-active-mock;
    color:@tertiarycolor;
    font-weight: 800;
    text-align: center;
  }
  li{
    // text-shadow: 2px 0px black;
    padding-left:12px;
  }
  // position:fixed;
  // font-size: .8em;
  list-style:none;
  overflow:auto;
  // overflow:hidden;
  .cbbepsanno{
  text-decoration:none;
  // font-weight:100;
    text-shadow: none;
    color:@secondarycolor;
    font-size:.9em;
    position: relative;
    margin-bottom:12px;
    text-align: center;
}
}

// #episodes-list.episodespecial{text-align:right;padding-right:0;margin-right:0}

#episodes-list.statie-momap{
  text-align:right;
}

#query-subnav{

  .querysubnavh{
    /*border-bottom:1px solid white;*/
  font-weight: bold;
  /*margin-right: 20px;*/
  font-size:1.9em;
color:white;
text-transform: uppercase;



.episodes{
  .stroke-active-mock;
    color:@tertiarycolor;
    font-weight: 800;
text-align:right;
}

.query-subnav-count{
font-size:.5em;
font-weight:200;
text-decoration:none;
}

.query-subnav-btn{
      color:white;
      /*cursor:pointer;*/
      /*text-decoration: underline;*/
      /*margin-right:50px;*/
      font-size:1.1em;

/*      .query-subnav-arro{
  transform:rotate(90deg);
  display:none;
}*/


      /*&:hover{
text-decoration:underline;
text-shadow:
    -1px -1px 0 @secondarycolor,
    1px -1px 0 @secondarycolor,
    -1px 1px 0 @secondarycolor,
    1px 1px 0 @secondarycolor;
      }*/
    }
      .query-subnav-btn.active{

/*border-bottom:5px solid white;*/
        /*text-decoration:underline;*/

/*        .query-subnav-arro{
  display:inline-block;
}*/

        /*.stroke;*/
  .stroke-active-mock;
color:white;

        &:hover{
text-decoration:none;

      }
      }
}

  .query-console-arrow{
  .stroke-active-mock;
  color: @tertiarycolor;
  font-size:2em;
}
  // position:relative;
      margin-top:20px;
  /*margin-bottom:40px;*/
  // top:-5px;

}


// ------------------------------------- LEAFLET/PLUGIN OVERRIDES

.leaflet-control-container {
    right: 10px;
    position: fixed;
    top: 90px;
        background-color: transparent;
    transform: rotate(90deg);
    a {
        background-color: transparent;
        margin-top: 6px;
        padding-left: 2.5px;
        padding-top: 2px;
        text-decoration: none;
        color: black;
    transform: rotate(90deg);
        &:hover {
            text-decoration: none;
            background-color:transparent;
       }
  }

  .history-control{
    .leaflet-disabled{background-color:transparent;}
    transform:rotate(180deg);
background-color: transparent;

a {
        background-color: transparent;
        text-decoration: none;
        color:white;
        &:hover {
            text-decoration: none;
            background-color:transparent;
       }
  }

  } /* history-control */

/*.leaflet-bar {
  a {
  padding:0px 9px 0px 0px;
    background-color: transparent;
    border-bottom: none;
&:hover {
            background-color:transparent;
text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
       }
  }
    // color: #000;
    // display: block;
    // height: 26px;
    // line-height: 26px;
    // text-align: center;
    // text-decoration: none;
    // width: 26px;
}*/
.leaflet-control {
  .leaflet-disabled{background-color:transparent;}
    box-shadow:0 0 2px 2px @secondarycolor;
    background-color: transparent;
  a {
    .leaflet-disabled{background-color:transparent;}
    color:white;
  padding:0px 9px 0px 0px;
    background-color: transparent;
    border-bottom: none;
&:hover {
            background-color:transparent;
text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
       }
  }
    // color: #000;
    // display: block;
    // height: 26px;
    // line-height: 26px;
    // text-align: center;
    // text-decoration: none;
    // width: 26px;
}

}

/*.leaflet-control-container {
    left: 400px;
    position: absolute;
    top: 220px;
    transform: rotate(90deg);
}*/

/*.leaflet-control-container {
    position: relative;
    right: 100px;
    top: -20px;
    transform: rotate(90deg);
}*/

/*.leaflet-container .leaflet-control-zoomslider {
    margin-left: 10px;
    transform: rotate(90deg);
}*/

/*.leaflet-control-zoomslider-wrap {
    background-color: transparent;

    padding-bottom: 5px;
    padding-top: 5px;
}*/

/*.leaflet-control-zoomslider-body {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent;
    border-color: transparent;
    border-image: none;
    border-style: solid;
    border-width: 0 9px;
    margin: 0 auto;
    width: 2px;
}*/

/*.leaflet-control-zoomslider-knob {
    background-color: #efefef;
    border: 1px solid #000;
    border-radius: 50%;
    height: 20px;
    margin-left: -10px;
    position: relative;
    width: 20px;
}
*/
// ------------------------------------- OTHER

.cbb-trigger-inline{
  margin-left:5px;
}
//
#bt-showmain{
  cursor:pointer;
  z-index:77;
  &:active{
    color:@tertiarycolor;
  }
  &:hover{
    color:gray;
  }
}
.ul-expando{
  li{
    margin-bottom:20px;
  }
}

.bt-getid{
  cursor:pointer;
}

// ------------------------------------- CSS-SPINNER
// FINALLY! http://www.designcouch.com/home/why/2013/05/23/dead-simple-pure-css-loading-spinner/

.spinner-gold {
  height: 20px;
  width: 20px;
  margin: 0px auto 0 auto;
  position: relative;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 2px solid @secondarycolor;
  border-right: 2px solid @secondarycolor;
  border-bottom: 2px solid @secondarycolor;
  border-top: 2px solid @secondarycolor-trans;
  border-radius: 100%;
}

.spinner {
  height: 20px;
  width: 20px;
  margin: 0px auto 0 auto;
  position: relative;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 2px solid rgba(0, 174, 239, .15);
  border-right: 2px solid rgba(0, 174, 239, .15);
  border-bottom: 2px solid rgba(0, 174, 239, .15);
  border-top: 2px solid rgba(0, 174, 239, .8);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* --------------------------------------- MAP MENU -------------- */

/* ----------
BASEMAP MENU
------------ */

#BaseMapConsoleWrapper{
background-color: black;
opacity:.75;
width:auto;
#BaseMapConsole {
    color: #000;
    font-weight: 800;
    padding-top: 22px;
    padding-right: 20px;
}
#BaseMapConsole.temp {
    color: @primarycolor;
}
} //basemapconsolewrapper

#mnuBaseMap {
position:fixed;
margin:0;
bottom:-35px;
    background-color: transparent;
    list-style: none;
    text-align: center;
    cursor: pointer;
    li {
        background-color: transparent;
        .mnuThumbnail {
            height: 55px;
              @media(max-width:992px){
    height:25px;
  }
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            img {
                &:hover {
                    -webkit-box-shadow: 0px 1px 5px 2px @primarycolor-trans;
                    box-shadow: 0px 1px 5px 2px @primarycolor-trans;
               }
               width: 50px;
               height: 50px;
                 @media(max-width:992px){
    width:20px;
    height:20px;
  }
               -webkit-border-radius: 50%;
               -moz-border-radius: 50%;
               border-radius: 50%;
          }
     }
     //.mnuThumbnail

     .mnuThumbnail.true {
         img {
             border: solid white 3px;
             -webkit-box-shadow: 0px 1px 5px 2px @secondarycolor-trans;
                    box-shadow: 0px 1px 5px 2px @secondarycolor-trans;
        }
   }
   //true
}

} //mnubasemap

#mnuBaseMap.statie-collapsed{
  bottom: -50px;
}
/*.leaflet-control-zoom.leaflet-bar.leaflet-control{
  box-shadow:0 0 2px 2px @secondarycolor;
  a{color:white}
}*/

/*.leaflet-control {
    // background-color: transparent;
    // color:white;
}
.leaflet-control-container {
    left: 150px;
    position: fixed;
    top: 10px;
    transform: rotate(90deg);
    a {
        background-color: transparent;
        margin-top: 6px;
        padding-left: 2.5px;
        padding-top: 2px;
        text-decoration: none;
        color: black;
        &:hover {
            text-decoration: none;
       }
       // background-image: url(images/zoom-out.png);
  }
}*/
#fakemap {
    background-color: brown;
    width: 100%;
    // height:999px;
    height: 1000em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}